{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head_end %}
<style>
    .flex {
        display: flex;
    }

    .justify-between {
        justify-content: space-between;
    }

    .filter_selected {
        color: #fff;
        background-color: #a2b1bd;
    }

    .bold {
        font-weight: bold;
    }

    .no-select {
        user-select: none;
    }
    .figure-err table {
        border: 1px solid black;
    }
    .figure-err table tr {
        border: 1px solid black;
    }
    .figure-err table td {
        padding: 0.5em 1em;
    }
    .figure-err table th {
        padding: 0.5em 1em;
    }
    .button {
        min-width: 250px;
    }
</style>
{% endblock %}
{% block content %}
<section class="container box mt-6">
    <div class="flex justify-between">
        <h1 class="title">NVMe Spex Report</h1>

    </div>
    <div class="columns">
        <div class="column">
            <ul>
                <li>
                    <span class="has-text-weight-bold">Specification: </span>
                    <span x-data x-text="report.meta.specification"></span>
                </li>
                <li>
                    <span class="has-text-weight-bold">Revision: </span>
                    <span x-data x-text="report.meta.revision"></span>
                </li>
                <li>
                    <span class="has-text-weight-bold">NVMe Spex version: </span>
                    <span> {{ spex_version }}</span>
                </li>
            </ul>

        </div>
        <div class="column" align="right">
            <ul>
            <li class="m-1" >
            {% if link_self is defined and link_self is not none %}
            <a class="button is-success" href="{{ link_self }}" download="report.html">Download Report</a>
            {% endif %}
            {% if link_json is defined and link_json is not none %}
            </li>
            <li class="m-1">
            <a class="button is-info" href="{{ link_json }}" download="report.json">Download JSON</a>
            </li>
            {% endif %}
            {% if link_html is defined and link_html is not none %}
            <li class="m-1">
            <a class="button is-link" href="{{ link_html }}" download="spec.html">Download HTML</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </div>
    <div x-data class="tabs">
        <ul>
            <li x-data :class="{'is-active': $store.tab === 'summary'}">
                <a x-on:click="$store.tab = 'summary'">Summary</a>
            </li>
            <li :class="{'is-active': $store.tab === 'figures'}">
                <a x-on:click="$store.tab = 'figures'">Figures</a>
            </li>
        </ul>
    </div>
    <section x-data x-show="$store.tab === 'summary'" class="message mt-4">
        <div class="message-header">
            <p>Error Summary</p>
        </div>
        <div class="message-body">
            <div class="notification is-info">
                <p>
                    Click on rows in the table to filter the figures list to
                    only show figures with any of these errors.
                </p>
            </div>
            <table x-data class="table is-fullwidth">
                <thead>
                    <th><abbr title="Code">Code</abbr></th>
                    <th><abbr title="Description">Description</abbr></th>
                    <th><abbr title="Count">Count</abbr></th>
                </thead>
                <tbody>
                    <template x-for="entry in $store.error_summary.rows">
                        <tr class="no-select" style="cursor: pointer;"
                            x-on:click.prevent="$store.error_summary.toggle(entry.code)"
                            :class="{'filter_selected': entry.selected}">
                            <td class="bold" x-text="entry.code"></td>
                            <td><span x-text="entry.msg"></span></td>
                            <td class="has-text-right"><span x-text="entry.amount"></span></td>
                        </tr>
                    </template>
                        <tr>
                            <td></td>
                            <td>All errors</td>
                            <td class="has-text-right" x-text="errorSum()"></td>
                        </tr>
                </tbody>
            </table>
            <div class="level">
                <div class="level-right">
                    <div class="level-item">
                        <button class="button is-warning" x-on:click="$store.error_summary.clear()">Clear all
                            filters</button>

                    </div>
                </div>
                <div class="level-left">
                    <div class="level-item">
                        {% if link_self is defined and link_self is not none %}
                        <a class="button is-primary" href="/" >Generate New Report</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section x-data x-show="$store.tab === 'figures'">
        <h2 class="title">Figures:</h2>
        <template x-if="!$store.figures.loading && $store.figures.value && $store.figures.length !== 0">
            <div>
                <template x-data x-for="[fig_id, e] in Object.entries($store.figures.lints)">
                    <template x-if="e.length > 0">
                        <article class="message figure-err">
                            <div class="message-header" x-text="figureHeader(`${fig_id}`)">
                            </div>
                            <div x-data="{err: e.lint_errors}" class="message-body">
                                <div x-html="getFigureId(`${fig_id}`)" class="mb-2 is-full"></div>
                                <div class="columns is-flex-wrap-wrap">
                                    <template x-for="lint_err in e">
                                        <div class="column is-half">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="content">
                                                        <span class="tag is-text is-size-6 has-text-weight-bold">
                                                            <strong class="mr-3"> Row: </strong>
                                                            <span x-text="lint_err.row"></span>
                                                        </span>
                                                        <span class="tag is-warning is-size-6">
                                                            <span class="mr-2 ml-2"> Linting error: </span>
                                                            <span x-text="lint_err.msg"></span>
                                                            (
                                                            <span x-text="lint_err.code"></span>
                                                            )
                                                        </span>
                                                        <template x-for="[k, v] in Object.entries(lint_err.context)">
                                                            <span class="tag is-size-6  has-text-weight-bold is-info">
                                                                <span x-text="k" ></span>
                                                                <span class="p-2">:</span>
                                                                <span x-text="v"></span>
                                                            </span>
                                                        </template>
                                                        <template x-if="lint_err.context.label">
                                                            <span class="tag is-size-6  has-text-weight-bold is-info"
                                                                x-text="lint_err.context.label"></span>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </article>
                    </template>
                </template>
            </div>
        </template>
    </section>
</section>
{% endblock %}

{% block scripts %}
<script defer>
    const report = {{ report_json | tojson }};
    const erroneous_figure_ids = {{ erroneous_figure_ids  | tojson }};
    const report_html = {{ report_html | tojson }};
    const lintCodes = {{ lint_codes | tojson }};

    const capitalize = (word) => (
        word.charAt(0).toUpperCase()
        + word.slice(1)
    );
    const figureHeader = (fig) => {
        return "Figure " + fig;
    };
    const figureTitle = (ent) => {
        if (ent.title) {
            return ent.title;
        }
        fig_elems = ent.fig_id.split("_");
        rfig_id = fig_elems[0];
        rfig = report.entities.find(parent => parent.fig_id === rfig_id);
        if (!rfig) {
            console.warn(`!rfig\n---\nent.fig_id: ${ent.fig_id}\nrfig_id: ${rfig_id}`);
            return 'unset';
        }

        subfig_field_offset = parseInt(fig_elems[1], 10);
        rfig_field = rfig.fields.find(field => field.range.low === subfig_field_offset);
        if (!rfig_field) {
            console.warn(`!rfig_field\n----\nent.fig_id: ${ent.fig_id}\nfilter on: range.low == ${fig_elems[1]}\nrfig`)
            console.debug(rfig);
            return 'empty rfig_field'
        }

        base_label = `${rfig.title}[${rfig_field.label}]`;
        if (fig_elems.length === 2) {
            return base_label;
        } else if (fig_elems.length === 3) {
            return `${base_label} - table ${fig_elems[2]}`
        }
    };
    const lintGroupByCode = () => {
        let lint = report.meta.lint;
        const grouped = lint.reduce((acc, entry) => {
            if (acc[entry.code]) {
                acc[entry.code].amount++;
            } else {
                acc[entry.code] = { code: entry.code, msg: entry.msg, amount: 1 };
            }
            return acc;
        }, {});
        let arr = Object.values(grouped);
        // sort in descending order
        arr.sort((a, b) => b.amount - a.amount)
        return arr;
    };

    const errorSum = () => {
        lints = lintGroupByCode();
        return lints.reduce((n, {amount}) => n + amount, 0);
    }

    const getFigureId = (figure) => {
        const fig_id = figure.split("_")[0];
        const html = report_html[fig_id];
        if (html != undefined) {
            return html;
        } else {
            return figure;
        }

    };

    document.addEventListener("alpine:init", () => {
    Alpine.store("tab", "summary");
    Alpine.store("error_summary", {
        toggle(code) {
            entry = this.rows.find(e => e.code === code);
            if (entry) {
                entry.selected = !entry.selected;
            }
        },
        clear() {
            this.rows = this.rows.map(r => {
                r.selected = false;
                return r;
            })
        },
        init() {
            console.info("STORE[error_summary] init");
            this.rows = lintGroupByCode().map(r => {
                r.selected = false;
                return r;
            });
        }
    });

    Alpine.store("figures", {
        loading: true,
        value: [],
        init() {
            Alpine.effect(() => {
                console.info("STORE[figures] init");
                this.loading = true;
                console.warn("RECOMPUTING FIGURES");
                let ents = report.entities;

                let filter_codes = Alpine.store("error_summary")
                    .rows.filter(e => e.selected)
                    .map(e => e.code);
                let lints = report.meta.lint;


                if (filter_codes.length) {
                    // only retain lint entries whose lint code is contained in the filter applied
                    lints = lints.filter(l => filter_codes.find(c => c === l.code));
                }

                // group lints by fig (fig_id)
                let lints_by_fig = lints.reduce((acc, l) => {
                    if (acc[l.fig]) {
                        acc[l.fig].push(l);
                    } else {
                        acc[l.fig] = [l];
                    }
                    return acc;
                }, {});

                // add lint_errors to entities
                let ents_w_lints = ents.map(e => {
                    let entity = e
                    if (lints_by_fig[entity.fig_id]) {
                        e.lint_errors = lints_by_fig[e.fig_id];
                    } else {
                        e.lint_errors = [];
                    }
                    return e;
                });
                if (filter_codes.length) {
                    ents_w_lints = ents_w_lints.filter(e => e.lint_errors.length > 0);
                }

                this.value = ents_w_lints;
                this.lints = lints_by_fig;
                this.loading = false;
                console.warn(`recompute DONE ${this.value.length} elems`);
            });
        }
    });

});

</script>
{% endblock %}