# SPDX-FileCopyrightText: 2023 Samsung Electronics Co., Ltd
#
# SPDX-License-Identifier: BSD-3-Clause

*.pyc
__pycache__
.venv
venv
.idea
build
*.egg-info
.eggs
.pytest_cache
.mypy_cache
*.log
dist
*.css
*.html
*.json
result
*.build
*.tar.gz
scratch/
