# SPDX-FileCopyrightText: 2023 Samsung Electronics Co., Ltd
#
# SPDX-License-Identifier: BSD-3-Clause

*.pyc
__pycache__
.venv
venv
.idea
build
*.egg-info
.eggs
.pytest_cache
.mypy_cache
*.log
dist
*.css
!example/**/*.css
!src/spexsrv/static/*.css
*.html
!example/**/*.html
!src/spexsrv/templates/*.html
*.json
result
*.build
*.tar.gz
scratch/
