# SPDX-FileCopyrightText: 2023 Samsung Electronics Co., Ltd
#
# SPDX-License-Identifier: BSD-3-Clause

include src/spex/resources/stage2.schema.json
recursive-include src/spexsrv/static *
recursive-include src/spexsrv/templates *