/*
    SPDX-FileCopyrightText: 2024 Samsung Electronics Co., Ltd

    SPDX-License-Identifier: BSD-3-Clause
*/
body {
 font-family: sans-serif;
}
p:first-child {
 margin-top: .3em;
}
p:last-child {
 margin-bottom: .3em;
}
p {
 margin-top: 0em;
 margin-left: .2em;
 margin-right: .2em;
}
table, td, th {
 border-collapse: collapse;
 border: 1px solid black;;
}
table {
 margin-left: .3em;
 margin-right: .3em;
 margin-bottom: 3em;
 margin-top: 1em;
}
td table {
 margin-bottom: 1em;
}
/* list-formatting styles */
ol.ol0 { list-style-type: decimal; }
ol.ol1 { list-style-type: decimal; }
ol.ol1 ol { list-style-type: lower-alpha; }
ol.ol1 ol ol { list-style-type: lower-roman; }
ol.ol1 ol ol ol { list-style-type: decimal; }
ol.ol1 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol1 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol1 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol1 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol1 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol2 { list-style-type: decimal; }
ol.ol2 ol { list-style-type: lower-alpha; }
ol.ol2 ol ol { list-style-type: lower-roman; }
ol.ol2 ol ol ol { list-style-type: decimal; }
ol.ol2 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol2 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol2 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol2 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol2 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol3 { list-style-type: decimal; }
ol.ol3 ol { list-style-type: lower-alpha; }
ol.ol3 ol ol { list-style-type: lower-roman; }
ol.ol3 ol ol ol { list-style-type: decimal; }
ol.ol3 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol3 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol3 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol3 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol3 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol4 { list-style-type: decimal; }
ol.ol4 ol { list-style-type: lower-alpha; }
ol.ol4 ol ol { list-style-type: lower-roman; }
ol.ol4 ol ol ol { list-style-type: decimal; }
ol.ol4 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol4 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol4 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol4 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol4 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ul.ul5 { list-style-type: disc; }
ul.ul5 ul { list-style-type: circle; }
ul.ul5 ul ul { list-style-type: disc; }
ul.ul5 ul ul ul { list-style-type: circle; }
ul.ul5 ul ul ul ul { list-style-type: disc; }
ul.ul5 ul ul ul ul ul { list-style-type: circle; }
ul.ul5 ul ul ul ul ul ul { list-style-type: disc; }
ul.ul5 ul ul ul ul ul ul ul { list-style-type: circle; }
ul.ul5 ul ul ul ul ul ul ul ul { list-style-type: disc; }
ul.ul6 { list-style-type: disc; }
ol.ol6 ol { list-style-type: decimal; }
ol.ol6 ol ol { list-style-type: decimal; }
ol.ol6 ol ol ol { list-style-type: decimal; }
ol.ol6 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol6 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol6 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol6 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol6 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol7 { list-style-type: decimal; }
ol.ol7 ol { list-style-type: lower-alpha; }
ol.ol7 ol ol { list-style-type: lower-roman; }
ol.ol7 ol ol ol { list-style-type: decimal; }
ol.ol7 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol7 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol7 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol7 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol7 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol8 { list-style-type: decimal; }
ol.ol8 ol { list-style-type: lower-alpha; }
ol.ol8 ol ol { list-style-type: lower-roman; }
ol.ol8 ol ol ol { list-style-type: decimal; }
ol.ol8 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol8 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol8 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol8 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol8 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol9 { list-style-type: decimal; }
ol.ol9 ol { list-style-type: lower-alpha; }
ol.ol9 ol ol { list-style-type: lower-roman; }
ul.ul9 ul ul ul { list-style-type: circle; }
ul.ul9 ul ul ul ul { list-style-type: disc; }
ul.ul9 ul ul ul ul ul { list-style-type: circle; }
ol.ol9 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol9 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol9 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ul.ul10 { list-style-type: disc; }
ol.ol10 ol { list-style-type: decimal; }
ol.ol10 ol ol { list-style-type: decimal; }
ol.ol10 ol ol ol { list-style-type: decimal; }
ol.ol10 ol ol ol ol { list-style-type: decimal; }
ol.ol10 ol ol ol ol ol { list-style-type: decimal; }
ol.ol10 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol10 ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol10 ol ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol11 { list-style-type: decimal; }
ul.ul11 ul { list-style-type: circle; }
ol.ol11 ol ol { list-style-type: decimal; }
ol.ol11 ol ol ol { list-style-type: decimal; }
ol.ol11 ol ol ol ol { list-style-type: decimal; }
ol.ol11 ol ol ol ol ol { list-style-type: decimal; }
ol.ol11 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol11 ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol11 ol ol ol ol ol ol ol ol { list-style-type: decimal; }
ul.ul12 { list-style-type: disc; }
ul.ul12 ul { list-style-type: circle; }
ul.ul12 ul ul { list-style-type: disc; }
ul.ul12 ul ul ul { list-style-type: circle; }
ul.ul12 ul ul ul ul { list-style-type: disc; }
ul.ul12 ul ul ul ul ul { list-style-type: circle; }
ul.ul12 ul ul ul ul ul ul { list-style-type: disc; }
ul.ul12 ul ul ul ul ul ul ul { list-style-type: circle; }
ul.ul12 ul ul ul ul ul ul ul ul { list-style-type: disc; }
ol.ol13 { list-style-type: decimal; }
ol.ol13 ol { list-style-type: lower-alpha; }
ol.ol13 ol ol { list-style-type: lower-roman; }
ol.ol13 ol ol ol { list-style-type: decimal; }
ol.ol13 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol13 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol13 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol13 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol13 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ul.ul14 { list-style-type: disc; }
ul.ul14 ul { list-style-type: circle; }
ul.ul14 ul ul { list-style-type: disc; }
ul.ul14 ul ul ul { list-style-type: circle; }
ul.ul14 ul ul ul ul { list-style-type: disc; }
ul.ul14 ul ul ul ul ul { list-style-type: circle; }
ul.ul14 ul ul ul ul ul ul { list-style-type: disc; }
ul.ul14 ul ul ul ul ul ul ul { list-style-type: circle; }
ul.ul14 ul ul ul ul ul ul ul ul { list-style-type: disc; }
ol.ol15 { list-style-type: decimal; }
ol.ol15 ol { list-style-type: decimal; }
ol.ol15 ol ol { list-style-type: decimal; }
ol.ol15 ol ol ol { list-style-type: decimal; }
ol.ol15 ol ol ol ol { list-style-type: decimal; }
ol.ol15 ol ol ol ol ol { list-style-type: decimal; }
ol.ol15 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol15 ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol15 ol ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol16 { list-style-type: decimal; }
ol.ol16 ol { list-style-type: decimal; }
ol.ol16 ol ol { list-style-type: decimal; }
ol.ol16 ol ol ol { list-style-type: decimal; }
ol.ol16 ol ol ol ol { list-style-type: decimal; }
ol.ol16 ol ol ol ol ol { list-style-type: decimal; }
ol.ol16 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol16 ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol16 ol ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol17 { list-style-type: decimal; }
ol.ol17 ol { list-style-type: lower-alpha; }
ol.ol17 ol ol { list-style-type: lower-roman; }
ol.ol17 ol ol ol { list-style-type: decimal; }
ol.ol17 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol17 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol17 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol17 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol17 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol18 { list-style-type: decimal; }
ol.ol18 ol { list-style-type: lower-alpha; }
ol.ol18 ol ol { list-style-type: lower-roman; }
ol.ol18 ol ol ol { list-style-type: decimal; }
ol.ol18 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol18 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol18 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol18 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol18 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol19 { list-style-type: lower-alpha; }
ol.ol19 ol { list-style-type: lower-alpha; }
ol.ol19 ol ol { list-style-type: lower-roman; }
ol.ol19 ol ol ol { list-style-type: decimal; }
ol.ol19 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol19 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol19 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol19 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol19 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ul.ul20 { list-style-type: disc; }
ul.ul20 ul { list-style-type: circle; }
ul.ul20 ul ul { list-style-type: disc; }
ul.ul20 ul ul ul { list-style-type: circle; }
ul.ul20 ul ul ul ul { list-style-type: disc; }
ul.ul20 ul ul ul ul ul { list-style-type: circle; }
ul.ul20 ul ul ul ul ul ul { list-style-type: disc; }
ul.ul20 ul ul ul ul ul ul ul { list-style-type: circle; }
ul.ul20 ul ul ul ul ul ul ul ul { list-style-type: disc; }
ol.ol21 { list-style-type: decimal; }
ol.ol21 ol { list-style-type: lower-alpha; }
ol.ol21 ol ol { list-style-type: lower-roman; }
ol.ol21 ol ol ol { list-style-type: decimal; }
ol.ol21 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol21 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol21 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol21 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol21 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol22 { list-style-type: decimal; }
ol.ol22 ol { list-style-type: decimal; }
ol.ol22 ol ol { list-style-type: decimal; }
ol.ol22 ol ol ol { list-style-type: decimal; }
ol.ol22 ol ol ol ol { list-style-type: decimal; }
ol.ol22 ol ol ol ol ol { list-style-type: decimal; }
ol.ol22 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol22 ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol22 ol ol ol ol ol ol ol ol { list-style-type: decimal; }
ul.ul23 { list-style-type: disc; }
ul.ul24 { list-style-type: disc; }
ul.ul24 ul { list-style-type: circle; }
ul.ul24 ul ul { list-style-type: disc; }
ul.ul24 ul ul ul { list-style-type: circle; }
ul.ul24 ul ul ul ul { list-style-type: disc; }
ul.ul24 ul ul ul ul ul { list-style-type: circle; }
ul.ul24 ul ul ul ul ul ul { list-style-type: disc; }
ul.ul24 ul ul ul ul ul ul ul { list-style-type: circle; }
ul.ul24 ul ul ul ul ul ul ul ul { list-style-type: disc; }
ol.ol25 { list-style-type: decimal; }
ol.ol25 ol { list-style-type: decimal; }
ol.ol25 ol ol { list-style-type: decimal; }
ol.ol25 ol ol ol { list-style-type: decimal; }
ol.ol25 ol ol ol ol { list-style-type: decimal; }
ol.ol25 ol ol ol ol ol { list-style-type: decimal; }
ol.ol25 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol25 ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol25 ol ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol26 { list-style-type: decimal; }
ol.ol26 ol { list-style-type: lower-alpha; }
ol.ol26 ol ol { list-style-type: lower-roman; }
ol.ol26 ol ol ol { list-style-type: decimal; }
ol.ol26 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol26 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol26 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol26 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol26 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ul.ul27 { list-style-type: disc; }
ul.ul27 ul { list-style-type: circle; }
ul.ul27 ul ul { list-style-type: disc; }
ul.ul27 ul ul ul { list-style-type: circle; }
ul.ul27 ul ul ul ul { list-style-type: disc; }
ul.ul27 ul ul ul ul ul { list-style-type: circle; }
ul.ul27 ul ul ul ul ul ul { list-style-type: disc; }
ul.ul27 ul ul ul ul ul ul ul { list-style-type: circle; }
ul.ul27 ul ul ul ul ul ul ul ul { list-style-type: disc; }
ol.ol28 { list-style-type: decimal; }
ol.ol28 ol { list-style-type: decimal; }
ol.ol28 ol ol { list-style-type: decimal; }
ol.ol28 ol ol ol { list-style-type: decimal; }
ol.ol28 ol ol ol ol { list-style-type: decimal; }
ol.ol28 ol ol ol ol ol { list-style-type: decimal; }
ol.ol28 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol28 ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol28 ol ol ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol29 { list-style-type: decimal; }
ol.ol29 ol { list-style-type: lower-alpha; }
ol.ol29 ol ol { list-style-type: lower-roman; }
ol.ol29 ol ol ol { list-style-type: decimal; }
ol.ol29 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol29 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol29 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol29 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol29 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
ul.ul30 { list-style-type: disc; }
ul.ul30 ul { list-style-type: circle; }
ul.ul30 ul ul { list-style-type: disc; }
ul.ul30 ul ul ul { list-style-type: circle; }
ul.ul30 ul ul ul ul { list-style-type: disc; }
ul.ul30 ul ul ul ul ul { list-style-type: circle; }
ul.ul30 ul ul ul ul ul ul { list-style-type: disc; }
ul.ul30 ul ul ul ul ul ul ul { list-style-type: circle; }
ul.ul30 ul ul ul ul ul ul ul ul { list-style-type: disc; }
ol.ol31 { list-style-type: decimal; }
ol.ol31 ol { list-style-type: lower-alpha; }
ol.ol31 ol ol { list-style-type: lower-roman; }
ol.ol31 ol ol ol { list-style-type: decimal; }
ol.ol31 ol ol ol ol { list-style-type: lower-alpha; }
ol.ol31 ol ol ol ol ol { list-style-type: lower-roman; }
ol.ol31 ol ol ol ol ol ol { list-style-type: decimal; }
ol.ol31 ol ol ol ol ol ol ol { list-style-type: lower-alpha; }
ol.ol31 ol ol ol ol ol ol ol ol { list-style-type: lower-roman; }
/* text-formatting styles */
.txtfmt0 {
 vertical-align: super;
}
.txtfmt1 {
 color: #8496B0;
}
.txtfmt2 {
 font-weight: bold;
}
.txtfmt3 {
 font-weight: bold;
 vertical-align: super;
}
.txtfmt4 {
 color: #000000;
}
.txtfmt5 {
 font-weight: bold;
 color: #000000;
}
/* table cell formatting styles */
.tcell0 {
 background-color: #E6E6E6;
}
.tcell1 {
 background-color: #D9D9D9;
}
.tcell2 {
 background-color: #BFBFBF;
}
.tcell3 {
 background-color: #DDDDDD;
}
